<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<meta charset="utf-8">
  <title>Rainforest</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<header>


<div class="logo_header"> 

<%= link_to (image_tag "Rainforest Logo-01.png", id: "Image_tag_logo"), products_path %>


<ul class="menubar">

<li><%=image_tag "help.png", id: "help_icon"%> <%=link_to "Help", products_path%></li>
<li><%=image_tag "cart.png", id: "cart_icon"%> <%=link_to "Shopping Cart", products_path%></li>
<li><%=image_tag "login.png", id: "login"%> <%=link_to "SIGN IN / REGISTER", products_path%></li>



</ul>

<%= render 'search', id:"search" %>
</div>

<br>

</header>
<body>

<div class="wutwut">
<%= yield %>
</div>
</body>
 
<footer>
	<ul class="footerbar">
<li><a href="#">About Us</a></li>
<li><a href="#">FAQs</a></li>
<li><a href="#">Support</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Careers</a></li>
</ul>


	</footer>
</html>
