<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<meta charset="utf-8">
  <title>Rainforest</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<header>

<div class="logo_header"> 



<%= image_tag ("Rainforest Logo-01.png"), id: "Image_tag_logo" %>


<ul class="menubar">

<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>

<li><a href="#">Help</a></li>

<li><a href="#"> <%= image_tag ("Shopping-Cart-Icon-5.jpg"), id: "cart_icon" %> Shopping Cart</a></li>

<!-- <li><a href="#">SIGN IN / REGISTER</a></li> -->
</ul>

</div>

<br>

</header>
<body>


<%= yield %>

</body>

<footer>
	<ul class="footerbar">
<li><a href="#">About Us</a></li>
<li><a href="#">FAQs</a></li>
<li><a href="#">Support</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Careers</a></li>
</ul>


	</footer>
</html>
